.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{

    /* display: flex;
    justify-items: center; */
    border-radius: 50%;
    padding: 8px;
}

.regular{
    background-color: white;    
}

.highlight{
    background-color: yellow !important; 
}

/* .my-card-content{
    width: 80%;
    background-color: aquamarine !important;
} */